<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="<?php echo PU ?>lib/html5shiv.js"></script>
<script type="text/javascript" src="<?php echo PU ?>lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="<?php echo PU ?>static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="<?php echo PU ?>static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="<?php echo PU ?>lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="<?php echo PU ?>static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="<?php echo PU ?>static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="<?php echo PU ?>lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>新建网站角色 - 管理员管理 - H-ui.admin v3.1</title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-role-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="roleName" name="level_name">
			</div>
		</div>
<!-- 		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="" name="level_des">
			</div>
		</div> -->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">网站角色：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<dl class="permission-list">
					<?php foreach($result as $k => $v){ ?>
						<dt>
							<label>
								<input type="checkbox" value="<?php echo $v['menu_id']; ?>" name="level_arr" id="user-Character-0-0">
								<?php echo $v['menu_name']; ?>
							</label>
						</dt>
						<?php foreach($v['next'] as $k1 => $v1){ ?>
						<dd>
							<dl class="cl permission-list2">
								<dt>
									<label class="">
										<input type="checkbox" value="<?php echo $v1['menu_id']; ?>" name="level_arr" id="user-Character-0-0">
										<?php echo $v1['menu_name']; ?>
									</label>
								</dt>
							</dl>
						</dd>
						<?php } ?> 
					<?php } ?>
				</dl>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="button" class="btn btn-success radius" id="admin-role-save" name="hui"  onclick="leveladd()"><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="<?php echo PU ?>lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="<?php echo PU ?>lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="<?php echo PU ?>static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="<?php echo PU ?>static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="<?php echo PU ?>lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="<?php echo PU ?>lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="<?php echo PU ?>lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
// $(function(){
// 	$(".permission-list dt input:checkbox").click(function(){
// 		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
// 	});
// 	$(".permission-list2 dd input:checkbox").click(function(){
// 		var l =$(this).parent().parent().find("input:checked").length;
// 		var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
// 		if($(this).prop("checked")){
// 			$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
// 			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
// 		}
// 		else{
// 			if(l==0){
// 				$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
// 			}
// 			if(l2==0){
// 				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
// 			}
// 		}
// 	});
	
// 	$("#form-admin-role-add").validate({
// 		rules:{
// 			roleName:{
// 				required:true,
// 			},
// 		},
// 		onkeyup:false,
// 		focusCleanup:true,
// 		success:"valid",
// 		submitHandler:function(form){
// 			$(form).ajaxSubmit();
// 			var index = parent.layer.getFrameIndex(window.name);
// 			parent.layer.close(index);
// 		}
// 	});
// });
	// $('#hui').click(function(){
 //         var checkID = [];//定义一个空数组
 
 //         $("input[name='level_arr']:checked").each(function(i){//把所有被选中的复选框的值存入数组
 //             checkID[i] =$(this).val();
 //         });
 //     })

	function leveladd(){
		var checkID = [];//定义一个空数组
 
         $("input[name='level_arr']:checked").each(function(i){//把所有被选中的复选框的值存入数组
             checkID[i] =$(this).val();
         });
		var data = {
			'level_name':$('[name="level_name"]').val(),
			'level_arr':checkID
		}
		// alert(data.level_name);
		// alert(data.level_des);
		// alert(data.level_arr);
		$.ajax({
			url:'index.php?mot=admin&ctl=level&act=add',
			type:'post',
			dataType: 'json',
			data: data,

			success: function(data){
				if(data.code==1){
					layer.msg(data.message,{icon:1,time:3000,btn:['确定']},function(){
						location.href=data.url;
					});
				}else{
					layer.msg(data.message,{icon:2,time:3000,btn:['确定']});
				}
			}
		})
	}

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>