@charset "utf-8";
/* CSS Document */


/*公司简介*/

.main{width:1200px; height:auto; margin:0 auto; overflow:hidden}
.sidebar{width:290px; height:auto; float:left;font-family:"微软雅黑"; margin-left:10px; background:url(../images/about-us_03.gif) no-repeat 0 3px; margin-top:20px;}
.sidebar h2{background:url(../images/about-us33_03.png) no-repeat; color:#fff; font-size:30px; height:67px; line-height:65px;padding-left:48px;font-weight:normal;}
.sidebar li{width:290px; height:65px; margin-top:5px;}
.sidebar li a{background:url(../images/about-us_10.png) no-repeat; width:242px; height:70px; display:block; line-height:55px; color:#fff; font-size:24px; padding-left:48px;font-weight:normal;}
.sidebar li a.on{background:url(../images/about-us23_03.png) no-repeat; margin-bottom:5px; line-height:65px;}
.sidebar li a:hover{background:url(../images/about-us23_03.png) no-repeat; line-height:65px;}
.content{width:880px; float:right;}
.title{width:870px; height:65px; float:right; border-bottom:1px solid #999999; margin-top:55px ; margin-right:10px; position:relative}
.title h2{ font-size:30px;font-family:"微软雅黑";font-weight:normal; color:#333333; float:left}
.title h2 span{font-size:14px; display:block; line-height:12px; text-align:center }
.title .location{ float:left;font-family:"微软雅黑";font-weight:normal;font-size:14px;  position:absolute; right:0; top:30px}
.title .location span{color:#333333;}
.title .location a{ color:#333333;}
.title .location a.on{color:#00cc99}
.title .location a:hover{color:#00cc99}
.main p{width:870px; float:right; text-indent:2em;margin-right:10px;  font-family:"微软雅黑"; font-size:14px; line-height:24px; margin-top:45px; margin-bottom:15px;font-weight:normal;}
.main img{float:right; margin-top:45px; margin-bottom:70px}



