<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="百度地图,百度地图API，百度地图自定义工具，百度地图所见即所得工具" />
<meta name="description" content="百度地图API自定义地图，帮助用户在可视化操作下生成百度地图" />
<title>联系我们</title>
<link type="text/css" href="<?php echo PN; ?>css/contact.css" rel="stylesheet">
<link type="text/css" href="<?php echo PN; ?>css/style.css" rel="stylesheet">
<script src="<?php echo PN; ?>js/jquery-1.12.4.min.js"></script>
<script src="<?php echo PN; ?>js/contact.js"></script>
</head>

<body>
<!--头部-->
<?php hear_translate($result['translate_id'],M,C,A); ?>
<!--banner轮播图-->
<?php hear_banner(5); ?>


<div class="contact">
	<div class="title">
    	<h2>联系我们<span>Contact us</span></h2>
   
    	<div class="location">
            <span>当前位置:</span>
            <a href="index.php?mot=home&ctl=index&act=index">首页</a>&gt;
            <a href="#" class="on">联系我们</a>
        </div> 
     </div>
    <div class="message">
        <form>
             <table cellspacing="0" cellpadding="0"  width="470px" height="575px">
                <tr >
                    <td colspan="2" >
                        <input type="text" placeholder="NAME/姓名" class="txt" id="name" name="contac_name"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <input type="text" placeholder="QQ/微信" class="txt" id="qq" name="contac_qq"/>
                    </td>
                 </tr>
                 <tr>
                    <td colspan="2" >
                        <input type="text" placeholder="TELEPHONE/电话" class="txt" id="tele" name="contac_telephone"/>
                    </td>
                 </tr>
                 <tr>
                    <td colspan="2" >
                        <input type="text" placeholder="ADDRESS/地址" class="txt" id="addr" name="contac_address"/>
                    </td>
                 </tr>
                 <tr>
                    <td colspan="2">
                        <input type="text" placeholder="E-MAIL/邮箱" class="txt" id="email" name="contac_mail"/>
                    </td>
                 </tr>
                 <tr>
                    <td colspan="2">
                        <textarea id="texta" name="contac_message">MESSAGE/留言</textarea>
                    </td>
                 </tr>
                 <tr>
                    <td>
                        <input type="text" placeholder="验证码" id="code" name="vcode"/>
                    </td>
                    <td  >
                    <div class="cut">
                        <img id="qwe" src="index.php?mot=admin&ctl=code&code=$M" onclick="this.src='index.php?mot=admin&ctl=code&code=$M&rand='+Math.random()">
                        <a onclick="query();">看不清，换一张</a></div>
                    </td>
                 </tr>
                 <tr>
                    <td colspan="2">
                            <input type="button" value="提交信息" class="sub" onclick="contact()" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
     	<div class="contact-right">
     		<p>邮编:<?php echo $contact_result['contact_code']; ?></p>
            <p>传真:<?php echo $contact_result['contact_fax']; ?></p>
            <p>服务热线:<?php echo $contact_result['contact_hotline']; ?></p>
            <p>电子邮箱:<?php echo $contact_result['contact_mail']; ?></p>
            <p>地址:<?php echo $contact_result['contact_address']; ?></p>
     		<div style="width:423px;height:417px;border:#ccc solid 1px;font-size:12px" id="map"></div>
     	</div>
</div>

<!--尾部-->
<?php footer_translate($mysqli) ?>


<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
<script src="<?php echo PN; ?>js/map.js"></script>
<script type="text/javascript" src="<?php echo PU ?>lib/layer/2.4/layer.js"></script>
<script type="text/javascript">
    function query(){
      $('#qwe').attr("src","index.php?mot=admin&ctl=code&code=$M");

    }

    function contact(){
        var data = {
            'contac_name':$('[name="contac_name"]').val(),
            'contac_qq':$('[name="contac_qq"]').val(),
            'contac_telephone':$('[name="contac_telephone"]').val(),
            'contac_address':$('[name="contac_address"]').val(),
            'contac_mail':$('[name="contac_mail"]').val(),
            'contac_message':$('[name="contac_message"]').val(),
            'vcode':$('[name="vcode"]').val()
        }

        $.ajax({
            url:'index.php?mot=home&ctl=contact&act=index',
            type: 'post',
            data: data,
            dataType: 'json',

            success: function(data){
                if(data.code==1){
                    layer.msg(data.message,{icon:1,time:3000,btn:['确定']},function(){
                        location.href='index.php?mot=home&ctl=contact&act=index'
                    })
                }else{
                    layer.msg(data.message,{icon:2,time:3000,btn:['确定']})
                }
            }
        })
    }

</script>
</body>
</html>
