<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻中心</title>
<link type="text/css" href="<?php echo PN; ?>css/news.css" rel="stylesheet">
<link type="text/css" href="<?php echo PN; ?>css/style.css" rel="stylesheet">
<script src="<?php echo PN; ?>js/jquery-1.12.4.min.js"></script>
<script src="<?php echo PN; ?>js/js.js"></script>
</head>

<body>
<!--头部-->
<?php hear_translate($result['translate_id'],M,C,A); ?>
<!--banner轮播图-->
<?php hear_banner(3); ?>
<!--行业资讯-->
<div class="main">
	<div class="sidebar">
    	<?php sidebar($mysqli,'category','category_name','category_id','category_pid',$type,"index.php?mot=$M&ctl=$C&act=$A"); ?>
    </div>
    <div class="content">
		<div class="title">
			<?php position($mysqli,$C,$A,$type); ?>
		</div>
        <!--新闻目录-->
 		<?php body_new($num,5,$p,$mysqli,$type,"index.php?mot=home&ctl=news&act=news-details"); ?>
        <ol>
        	<?php new_page(3,$p,"index.php?mot=$M&ctl=$C&act=$A",5,$num,$mysqli,$type); ?>
        </ol>
    	
          
    </div>
    
</div>



<!--尾部-->
<?php footer_translate($mysqli) ?>


</body>
</html>
